body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.player-wrapper {
  background-color: #333;
  border-radius: 8px;
  min-height: 100px;
  min-width: 400px;
  box-shadow: 2px 2px 5px 0 #ccc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.song-title {
  color: white;
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.song-title small {
  font-size: 0.7em;
  filter: opacity(0.7)
}

.duration {
  color: #fff;
  font-size: 0.6rem;
}

.dark {

}

.light {
  
}

.btn {
  cursor: pointer;
  margin: 1rem;
  appearance: none;
  background: #ccc;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 10px 30px;
  transition: 0.7s;
}

.btn:hover {
  background: #aaa;
  transition: 0.7s;
}

.total {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  width: calc(100% - 2rem);
}

.total::before {
  content: "Total duration: ";
  font-weight: bold;
}
